$backgroundColor: linear-gradient(#7158e2, #18dcff);
$textColor: #fff;

* {
  margin: 0;
  padding: 0;
  outline: 0;
}

html {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background: $backgroundColor;
  overflow: hidden;
}

body {
  color: $textColor;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
}

.location {
  position: absolute;
  bottom: 0;
}

.icon {
  position: absolute;
  right: 0;
  bottom: 10px;
}

.backgroundIcon {
  position: absolute;
  top: -100px;
  opacity: 0.2;
  z-index: -1;
}

.temperature {
  h2 {
    cursor: pointer;
  }
}

.degree-section {
  display: flex;
  align-items: center;

  span {
    font-size: 40px;
    padding-left: 10px;
    cursor: pointer;
  }
}
